.navMenu {
    display: flex;
    height: fit-content;
    width: fit-content;

    ul{
        display: flex;
        flex-direction: column;

        li{
            display: flex;
            font-family: monospace;
            &:hover {
                cursor: pointer;
            }
        }
    }
    }
