.dark{
  color: white;
  background-color: black;
}

.light {
  color: black;
  background-color: white;
}

section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  p{
    margin: 5px;
  }
}
